[run]
omit =
    */tests/*
    /root/*
    */wsgi.py
    */apps.py
    */migrations/*
    */views.py
    */admin.py
    */__init__.py
    api_ideas/*
    manage.py

[report]
exclude_lines =
    pragma: no cover
    @abstract
